* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
}

i {
    font-style: normal;
}

input {
    outline: none;
}

#new_title {
    height: 84px;
    border-bottom: 1px solid #ECEAEA;
    /* position: absolute; */
    top: 130px;
    text-align: center;
    line-height: 83px;
    color: #BCBCBC;
    background-color: white;
}

#new_detail {
    padding-left: 62px;
    padding-top: 31px;
}

#new_welfare .new_title span {
    width: 154px;
    height: 44px;
    line-height: 44px;
    cursor: pointer;
    display: inline-block;
    margin-right: 4px;
}

#new_welfare .new_detail div {
    display: none;
}

#new_welfare .new_detail div.cur {
    display: block;
}

#new_welfare .new_title span i {
    font-style: normal;
    width: 136px;
    height: 42px;
    display: inline-block;
}

#new_welfare .new_title span:nth-of-type(1) {
    background: url('../../icons/mouse_leave_short.png') no-repeat;
    top: 20px;
}

#new_welfare .new_title span:nth-of-type(2) {
    width: 166px;
    margin-left: -20px;
    background: url('../../icons/mouse_leave_long.png') no-repeat;
}

#new_welfare .new_title span:nth-of-type(3) {
    width: 166px;
    margin-left: -20px;
    background: url('../../icons/mouse_leave_long.png') no-repeat;
}

#new_welfare .new_title span:nth-of-type(4) {
    width: 166px;
    margin-left: -20px;
    background: url('../../icons/mouse_leave_long.png') no-repeat;
}

#new_welfare .new_title span:nth-of-type(5) {
    width: 157px;
    margin-left: -20px;
    background: url('../../icons/five-leave.png') no-repeat;
}

#new_welfare .new_title span:nth-of-type(1):hover {
    color: #F86F4D;
    background: url('../../icons/mouse_hover_short.png') no-repeat;
}

#new_welfare .new_title span:nth-of-type(2):hover {
    color: #F86F4D;
    background: url('../../icons/mouse_hover_long.png') no-repeat;
}

#new_welfare .new_title span:nth-of-type(3):hover {
    color: #F86F4D;
    background: url('../../icons/mouse_hover_long.png') no-repeat;
}

#new_welfare .new_title span:nth-of-type(4):hover {
    color: #F86F4D;
    background: url('../../icons/mouse_hover_long.png') no-repeat;
}

#new_welfare .new_title span:nth-of-type(5):hover {
    color: #F86F4D;
    background: url('../../icons/five_hover.png') no-repeat;
}

#new_welfare .new_title span:nth-of-type(1) i {
    width: 11px;
    height: 17px;
    vertical-align: sub;
    background: url('../../icons/one_gray.png') no-repeat;
}

#new_welfare .new_title span:nth-of-type(2) i {
    width: 11px;
    vertical-align: sub;
    height: 17px;
    background: url('../../icons/two_gray.png') no-repeat;
}

#new_welfare .new_title span:nth-of-type(3) i {
    width: 11px;
    height: 17px;
    vertical-align: sub;
    background: url('../../icons/three_gray.png') no-repeat;
}

#new_welfare .new_title span:nth-of-type(4) i {
    width: 11px;
    height: 17px;
    vertical-align: sub;
    background: url('../../icons/four_gray.png') no-repeat;
}

#new_welfare .new_title span:nth-of-type(5) i {
    width: 11px;
    height: 17px;
    vertical-align: sub;
    background: url('../../icons/five_gray.png') no-repeat;
}

#new_welfare .new_title span:nth-of-type(1):hover>i {
    background: url('../../icons/one_orange.png') no-repeat;
}

#new_welfare .new_title span:nth-of-type(2):hover>i {
    background: url('../../icons/two_orange.png') no-repeat;
}

#new_welfare .new_title span:nth-of-type(3):hover>i {
    background: url('../../icons/three_orange.png') no-repeat;
}

#new_welfare .new_title span:nth-of-type(4):hover>i {
    background: url('../../icons/four_orange.png') no-repeat;
}

#new_welfare .new_title span:nth-of-type(5):hover>i {
    background: url('../../icons/five_orange.png') no-repeat;
}

#new_welfare .new_detail .advanced_set p {
    height: 40px;
    margin-bottom: 31px;
}

#new_welfare .new_detail .advanced_set p i {
    color: #F86F4D;
}

#new_welfare .new_detail .advanced_set p span {
    line-height: 40px;
}

#new_welfare .new_detail .advanced_set p input {
    line-height: 40px;
    height: 100%;
    margin-top: 5px;
}

#new_welfare .new_detail .advanced_set p:nth-of-type(4) {
    float: left;
}

#new_welfare .new_detail .advanced_set .new_photo section {
    float: left;
}

#new_welfare .new_detail .advanced_set .new_photo section a {
    display: block;
    width: 110px;
    height: 110px;
}

#new_welfare .new_detail .advanced_set .new_photo section {
    margin-right: 22px;
    display: inline-block;
    width: 110px;
    height: 110px;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #dddddd;
    line-height: 110px;
    text-align: center;
    position: relative;
    vertical-align: middle;
}

#new_welfare .new_detail .advanced_set .new_photo ul li {
    display: inline-block;
    width: 110px;
    height: 110px;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #dddddd;
    line-height: 110px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin-right: 20px;
}

#new_welfare .new_detail .advanced_set .new_photo ul li span {
    display: none;
    width: 20px;
    height: 20px;
    background: #969393;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: -5px;
    right: -5px;
    cursor: pointer;
    color: white;
}